@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 400;
    src: url(mono.woff2) format('woff2');
}
@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 700;
    src: url(mono_bold.woff2) format('woff2');
}

body, button {
    font-family: 'Hack', monospace;
    font-size: 11pt;
}

body {
    max-width: 650px;
    margin: 4% auto;
    background-color: #ffffff;
    -ms-hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    -webkit-hyphenate-character: '-';
    hyphens: manual;
    text-align: justify;
    text-justify: distribute;
    word-spacing:-2px;
}

@media only screen and (max-width: 706px) {
    body {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

.me {
    height: 11.5ex;
    padding: 0px 5px 0px 15px;
    float: right;
}

.intro {
    padding: 0px 0px 0px 0px;
    display: inline-block;
}

table {
    font-size: 11pt;
}

a {
    font-weight: bold;
    box-sizing: border-box;
    word-wrap: break-word;
    color: black;
}

sub {
    vertical-align: bottom;
    line-height: 0;
    top: -0.4em;
    position: relative;
    font-size: 0.7em;
}

ul {
    list-style-type: square;
    padding-left: 1.2em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    overflow: hidden;
    border: 1.5px solid #000000;
    background-color: #ffffff;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #dddddd;
}

.tab button.active {
    background-color: #000000;
    color: #ffffff;
}

.x {
    float: right !important;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #000000;
    border-top: none;
}

h1 {
    border-bottom: 4px solid #1e1e1e;
}

h2 {
    font-size: 130%;
    border-bottom: 2px solid #bebebe;
}

h3 {
    font-size: 100%;
}

.back {
    float: right;
    vertical-align: bottom;
    color: #bbbbbb;
    text-decoration: none;
}

li {
    margin-top: 10px;
}

li:first-child {
    margin-top: 0;
}

.tip {
    border-left: 3px solid #000000;
    margin: 0px 10px 10px;
    padding: 5px 0 0 10px;
}

.pixel {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
